.nav {
    background-color: coral;
    border: 3px solid rgb(149, 220, 241);
}

.nav > li {
display: inline-block;
padding-right: 100px;
position: relative;
} 

.nav > li > ul {
    display: block;
    position: absolute;
        }

.nav > li > a {
    text-decoration: none;
    color: #ffffff;
}

