#changeMe { color: #330066;}

.wrapper {
    display:grid;
    grid-template-columns: 2% 1fr 1fr 1fr 1fr 2%;
    grid-template-rows: 70px 1fr repeat(3, 2fr) 70px 200px 70px;
    grid-gap: 16px;
}

.navbar {
    justify-content: flex-end;    
    margin: 0;
    padding: 20px;
    display: flex;
    grid-row: 1;
    grid-column: 1 / 6;
    align-items: center;
    background-color: coral;
}

.title {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
}

#about_me {
    padding: 10px 10px 10px 10px;
    min-width: 150px;
    max-width: 250px;
    margin: auto;
    position: relative;
    top: 20px;
    text-align: center;
}

#April {
    grid-row: 3/ 6;
    grid-column: 5 / 6; 
}

.text {
    grid-row: 3 / 5;
    grid-column: 2 / 4;
}

.resume {
    grid-row: 6 / 7;
    grid-column: 3 / 4;
    text-align: center;
}

.baseline {
    grid-row: 8/ 9;
    grid-column: 1 / 6;
    display: grid;
    align-self: center;
    width: 100%;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 2em;
}

@media (max-width: 600px) {
    p {
        font-size:1.25rem;
    }
}

@media (max-width: 800px) {
    p {
        font-size: 1.5rem;
        line-height: 1.5;
    }
}

.top-header {
    width: 100%;
    max-width: 960px;
    font: 1em "Roboto", sans-serif;
    color: #eb9c34;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.responsive{
    max-width: 100%;
    height: auto;
}

@media print{
    header, nav {
        display:none; 
        margin: 2.54cm;
    }

    p {
        font-size: 12pt;
        color: #000;
    }

    article {
        width: 100%!important;
        padding: 0!important;
        margin: 0!important;
    }
    @page {
        margin: 0;
    }
}

.pic {
    width: 16px;
    height: 16px;
}

.picbig {
    position: absolute; 
    width: 0px;
    -webkit-transition: width 0.3s linear 0s;
    transition: width 0.3s linear 0s;
    z-index: 10;
}

.pic:hover + .picbig{
    width:30px;
}